<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>도서 등록 페이지</title>
</head>
<body>
    <form th:action="@{/book/write}" method="post" th:object="${bookVO}">
        <input th:field="*{bookTitle}" placeholder="도서명" />
        <input th:field="*{bookAuthor}" placeholder="작가명" />
        <input th:field="*{bookPrice}" placeholder="도서가격" />
        <input th:field="*{bookStock}" placeholder="도서재고" />
        <button type="button">도서 등록하기</button>
    </form>
</body>
<script th:inline="javascript">
    const inputs = document.querySelectorAll("input");
    const button = document.querySelector("button")
    const form = document.querySelector("form");

    button.addEventListener("click", () => {
        for(let input of inputs) {
            if(!input.value) {
                return alert(`${input.name}값을 입력하세요!`)
            }
        }
        form.submit();
    });
</script>
</html>