<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 자바의 인터페이스랑 연결 -->
<mapper namespace="com.app.threetier.mapper.ScoreMapper">

    <insert id="insert" parameterType="ScoreVO">
        INSERT INTO TBL_SCORE
        VALUES(SEQ_SCORE.NEXTVAL, #{kor}, #{eng}, #{math})
    </insert>

    <select id="select" parameterType="Long" resultType="ScoreDTO">
        SELECT ID, SCORE_KOR, SCORE_ENG, SCORE_MATH,
               (SCORE_KOR + SCORE_ENG + SCORE_MATH) AS TOTAL,
               ((SCORE_KOR + SCORE_ENG + SCORE_MATH) / 3) AS AVERAGE
        FROM TBL_SCORE
        WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="ScoreDTO">
        SELECT ID, SCORE_KOR, SCORE_ENG, SCORE_MATH,
               (SCORE_KOR + SCORE_ENG + SCORE_MATH) AS TOTAL,
               ((SCORE_KOR + SCORE_ENG + SCORE_MATH) / 3) AS AVERAGE
        FROM TBL_SCORE
    </select>

</mapper>