<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 자바의 인터페이스랑 연결 -->
<mapper namespace="com.app.threetier.mapper.UserMapper">

    <insert id="insert" parameterType="UserVO">
        INSERT INTO TBL_USER
        VALUES(SEQ_USER.NEXTVAL, #{userEmail}, #{userPassword}, #{userName})
    </insert>

    <select id="selectAll" resultType="UserVO">
        SELECT ID, USER_EMAIL, USER_PASSWORD, USER_NAME
        FROM TBL_USER
    </select>

    <select id="select" parameterType="UserVO" resultType="UserVO">
        SELECT ID, USER_EMAIL, USER_PASSWORD, USER_NAME
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail} AND USER_PASSWORD = #{userPassword}
    </select>

    <update id="update" parameterType="UserVO">
        UPDATE TBL_USER
        SET USER_EMAIL = #{userEmail}, USER_PASSWORD = #{userPassword}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_USER
        WHERE ID = #{id}
    </delete>



</mapper>